body {
    background-image: url("/img/background.jpg");
    background-size: cover;
}


.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: white; // Choose your own color here
 }


.table>thead:first-child>tr:first-child>th {
    background-color: #ffffff;
}

h1,h2, .pagination, .pagination>div>span>a,.pagination>div>a{
    color: #ffffff;
}

.navbar-inverse {
    background-color: #184063
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
     color: #ffffff;
}


.navbar-brand {
    font-size: 50px;
    font-weight:500;
}

.navbar-header {
    padding: 1rem;
    margin-bottom: 1rem;
}

.navbar-nav {
    float: right;
    padding-top: 1rem;
}

.navbar-nav>li>a {
    font-size: 2rem;
}


.content-container {
    margin-top: 4rem;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.table {
    margin-bottom: 10px;
}

.loginRegister, .loginRegister span a {
    padding-top: 2rem;
    color: #ffffff;
}

.sub-text {
    font-size: 1.8rem;
}

.backHome {
    color: #ffffff;
    line-height: 4rem;
    font-size: 1.6rem;
}

.available{
  color: green;
}

.notAvailable {
  color: red;
}

select {
    margin-bottom: 15px;
}